
<f:if condition="{deleteConfirm}">

    <f:then>
        <f:flashMessages />
        <f:link.action pageUid="{settings.editFormPage}" arguments="{confirmed:'1'}" class="btn btn-danger btn-lg" action="edit" class="text-danger">
            <i class="fa fa-warning"></i> <f:translate key="account.delete_account_finally"/>
        </f:link.action>
    </f:then>

    <f:else>

            <f:form name="user" method="post">

                <f:flashMessages />

                <f:for each="{settings.user.account.editfields}" as="field" key="key">

                    <f:if condition="{key} === 'username' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Username" arguments="{field:field,user:user,settings:settings}"/>
                    </f:if>

                    <f:if condition="{key} === 'title' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Title" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'name' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Name" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'first_name' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/FirstName" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'middle_name' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/MiddleName" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'last_name' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/LastName" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'email' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Email" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'telephone' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Telephone" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'company' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Company" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'city' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/City" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'address' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Address" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'zip' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Zip" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'country' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Country" arguments="{field:field,user:user}"/>
                    </f:if>

                    <f:if condition="{key} === 'password' && {field.show} === '1'">
                        <f:render partial="Account/FormFields/Password" arguments="{field:field,user:user}"/>
                    </f:if>

                </f:for>

                <div class="form-group">
                    <button class="btn btn-primary">
                        <i class="fa fa-save"></i> <f:translate key="account.edit.save"/>
                    </button>
                    <f:link.action pageUid="{settings.editFormPage}" arguments="{delete:user.uid}" action="edit" class="float-right"><i class="fa fa-trash"></i> <f:translate key="account.delete_account"/></f:link.action>
                </div>

            </f:form>


    </f:else>
</f:if>
