<f:render partial="Account/Header" arguments="{fe_user:fe_user,fe_user_array:fe_user_array}"/>

<hr>

<table class="table table-bordered">
    <tr>
        <th>Company</th>
        <td>
            <f:if condition="{fe_user.company}">
                <f:then>{fe_user.company}</f:then>
                <f:else><span class="text-muted">not given</span></f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <td>
            <f:if condition="{fe_user.name}">
                <f:then>{fe_user.title} {fe_user.name}</f:then>
                <f:else><span class="text-muted">not given</span></f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <th><f:translate key="account.overview.email"/></th>
        <td>
            <f:if condition="{fe_user.email}">
                <f:link.email email="{fe_user.email}">{fe_user.email}</f:link.email>
            </f:if>
        </td>
    </tr>
    <tr>
        <th><f:translate key="account.overview.phone"/></th>
        <td>
            <f:if condition="{fe_user.phone}">
                {fe_user.phone}
            </f:if>
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td>
            <f:if condition="{fe_user.address}">
                <f:then>{fe_user.address}</f:then>
                <f:else><span class="text-muted">not given</span></f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <th>ZIP / City</th>
        <td>
            <f:if condition="{fe_user.zip}">
                <f:then>{fe_user.zip}</f:then>
                <f:else><span class="text-muted">no zip given</span></f:else>
            </f:if>
            <f:if condition="{fe_user.city}">
                <f:then>{fe_user.city}</f:then>
                <f:else><span class="text-muted">no city given</span></f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <th>Country</th>
        <td>
            <f:if condition="{fe_user.country}">
                <f:then>{fe_user.country}</f:then>
                <f:else><span class="text-muted">no country given</span></f:else>
            </f:if>
        </td>
    </tr>
</table>

<hr>

<f:link.page pageUid="{settings.pages.account.edit}" class="btn btn-primary">
    <i class="fa fa-edit"></i> <f:translate key="account.overview.edit_account"/>
</f:link.page>

<f:link.action pageUid="{settings.pages.account.edit}" class="float-right" arguments="{delete:fe_user.uid}" action="edit"><i class="fa fa-trash"></i> <f:translate key="account.overview.delete_account"/></f:link.action>
