<div class="py-2">
    <label><f:translate key="account.edit.password_current"/></label>
    <f:form.textfield name="passwordCurrent" type="password" class="form-control"/>
</div>
<div class="py-2">
    <label><f:translate key="account.edit.password_current_confirmation"/></label>
    <f:form.textfield name="passwordCurrentConfirmation" type="password" class="form-control"/>
</div>
<div class="py-2">
    <label><f:translate key="account.edit.password_new"/></label>
    <f:form.textfield name="passwordNew" type="password" class="form-control"/>
</div>