<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-go-sitetools" >
	<tr>
		<td>
			<f:translate key="tx_sitetools_domain_model_url.url" />
		</td>
		<td>
			{url.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sitetools_domain_model_url.blocked" />
		</td>
		<td>
			{url.blocked}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sitetools_domain_model_url.lastreport" />
		</td>
		<td>
			{url.lastreport}
		</td>
	</tr>
</table>
</html>