{namespace textile=SIMONKOEHLER\Textile\ViewHelpers}
{namespace post=SIMONKOEHLER\Osp\ViewHelpers}

<f:if condition="{post}">
    <f:then>

    <div>
        <strong class="text-primary">{post.owner}</strong> <small><post:date content="{post.crdate}"/></small>
        <f:format.raw><textile:parse content="{post.content}" defaultLabel="<i class='fa fa-link'></i>"/></f:format.raw>
        <f:if condition="{post.media}">
			<f:render partial="Post/Media" arguments="{media:post.media}"/>
		</f:if>
		<hr>
		<f:render partial="Post/Buttons" arguments="{_all}"/>
    </div>

    <f:security.ifAuthenticated>
    <div class="text-center">
        <div class="btn-group mb-3">
            <f:link.action action="delete" pageUid="{settings.pages.post.form}" arguments="{post:post}" controller="Post" class="btn btn-sm btn-light" title="Delete"><i class="fa fa-trash"></i> delete</f:link.action>
            <f:link.action action="edit" pageUid="{settings.pages.post.form}" arguments="{post:post}" controller="Post" class="btn btn-sm btn-light" title="Edit"><i class="fa fa-edit"></i> edit</f:link.action>
        </div>
    </div>
    </f:security.ifAuthenticated>
    </f:then>
    <f:else>
        <p class="danger">We couldn't find this post. Please visit the <f:link.page pageUid="{settings.pages.wall}">Wall</f:link.page> to see other posts.</p>
    </f:else>
</f:if>

<f:link.page pageUid="{settings.pages.wall}" class="btn btn-outline-dark"><i class="fa fa-arrow-left"></i> BACK</f:link.page>
