{namespace textile=SIMONKOEHLER\Textile\ViewHelpers}
{namespace post=SIMONKOEHLER\Osp\ViewHelpers}

<f:if condition="{post}">
    <f:then>

    <article class="post mb-4" id="p{post.uid}">
        <div class="card bg-white border p-3 mb-2 shadow-sm {f:if(condition:'{post.hidden} === 1', then:' bg-light')}">
            <div class="d-flex">
                <div class="mb-2 mr-auto">
                    <f:if condition="{post.owner.image.0}">
                        <f:image image="{post.owner.image.0}" width="30c" height="30c" class="img-circle img-fluid mr-1" style="border-radius:50%;" alt="{post.owner.username}"/>
                    </f:if>
                    <strong class="text-primary pr-1">{post.owner.username}</strong>
                    <small><post:date content="{post.crdate}"/></small>
                </div>
                <f:security.ifAuthenticated>
                    <f:then>
                    <div class="dropdown ml-auto">
                        <f:if condition="{post.hidden}"><i class="fa fa-lock text-primary"></i></f:if>
                      <a class="btn btn-default btn-sm" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-edit"></i></a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <f:if condition="{post.owner.uid} == {fe_user.uid}">
                            <li><f:link.action action="delete" arguments="{post:post}" controller="Post" class="dropdown-item" title="Delete"><i class="fa fa-trash"></i> delete</f:link.action></li>
                            <li><f:link.action action="edit" arguments="{post:post}" controller="Post" class="dropdown-item" title="Edit"><i class="fa fa-edit"></i> edit</f:link.action></li>
                            <li><h6 class="dropdown-header">Other actions</h6></li>
                        </f:if>
                        <li><f:link.action pageUid="{settings.pages.post.detail}" action="detail" arguments="{post:post}" controller="Post" class="dropdown-item" title="Permalink"><i class="fa fa-link"></i> detail view</f:link.action></li>
                      </ul>
                    </div>
                    </f:then>
                </f:security.ifAuthenticated>
            </div>
            <f:format.raw>
                <textile:parse content="{post.content}" defaultLabel="<i class='fa fa-link'></i>"/>
            </f:format.raw>
            <f:if condition="{post.media}">
                <f:render partial="Post/Media" arguments="{media:post.media}"/>
            </f:if>
            <hr>
            <f:render partial="Post/Buttons" arguments="{_all}"/>
        </div>
        <f:if condition="{settings.frontend.features.comment.enabled}">
        <div class="comment-container" data-form="{settings.site.absRefPrefix}?type=1140" data-comments="{settings.site.absRefPrefix}?type=1150"></div>
        </f:if>
    </article>

    </f:then>
    <f:else>
        <p class="danger">We couldn't find this post. Please visit the <f:link.page pageUid="{settings.pages.wall}">Wall</f:link.page> to see other posts.</p>
    </f:else>
</f:if>
