{namespace textile=SIMONKOEHLER\Textile\ViewHelpers}
{namespace post=SIMONKOEHLER\Osp\ViewHelpers}

<f:if condition="{post}">
    <f:then>
        <f:format.raw><textile:parse content="{post.content}"/></f:format.raw>
        <f:if condition="{post.media}">
			<f:render partial="Post/Media" arguments="{media:post.media}"/>
		</f:if>
		<f:security.ifAuthenticated>
        <hr>
		<f:render partial="Post/Buttons" arguments="{_all}"/>
        </f:security.ifAuthenticated>
    </f:then>

    <f:else>
        <div class="card p-4 mb-4">
            <p class="danger">We couldn't find this post. Please visit the <f:link.page pageUid="{settings.pages.wall}">Wall</f:link.page> to see other posts.</p>
        </div>
    </f:else>

</f:if>
