{namespace textile=SIMONKOEHLER\Textile\ViewHelpers}
{namespace post=SIMONKOEHLER\Osp\ViewHelpers}

<f:if condition="{posts}">
	<f:then>

	<f:switch expression="{settings.output_style}">

		<f:case value="paginated">
			<f:widget.paginate objects="{posts}" as="paginated" configuration="{section: 'c6', itemsPerPage: '{settings.items_per_page}', insertAbove: '{settings.pagination_top}', insertBelow: '{settings.pagination_bottom}', maximumNumberOfLinks: '{settings.max_link_number}'}">
			<f:for each="{paginated}" as="post">
			<f:render partial="Post/ListItem" arguments="{settings:settings,post:post,fe_user:fe_user}"/>
			</f:for>
			</f:widget.paginate>
		</f:case>

		<f:case value="infinite">
			<div id="post-container">
			    <div class="spinner-border text-primary" role="status">
			      <span class="sr-only">Loading...</span>
			    </div>
			</div>
		</f:case>

	</f:switch>

	</f:then>
	<f:else>
		<div class="card p-4">
			<h1>Welcome to OSP!</h1>
			<p class="lead">We couldn't find any public timeline posts for this account. Please <f:link.page pageUid="{settings.pages.account.login}">login</f:link.page> to see any private posts.</p>
		</div>
	</f:else>
</f:if>
