{namespace textile=SIMONKOEHLER\Textile\ViewHelpers}
{namespace post=SIMONKOEHLER\Osp\ViewHelpers}

<f:if condition="{posts}">
	<f:then>
	<f:for each="{posts}" as="post">
	<f:render partial="Post/ListItem" arguments="{settings:settings,post:post}"/>
	</f:for>
	</f:then>
	<f:else>
		<div class="card p-4">
			<h1>Welcome to OSP!</h1>
			<p class="lead">We couldn't find any public timeline posts for this account. Please <f:link.page pageUid="{settings.pages.login}">login</f:link.page> to see any private posts.</p>
		</div>
	</f:else>
</f:if>
