<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />

<f:section name="title">
    <div class="widget-content-title-badge"><span>{f:translate(id: configuration.title, default: configuration.title)}</span><span class="badge badge-success widget-content-badge-number"><f:count>{items}</f:count></span> </div>
</f:section>

<f:section name="main">
        <h1>How to style your TYPO3 Dashboard Widget</h1>
        <table class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Mister</td>
                <td>Johnson</td>
                <td>2020/08/09</td>
            </tr>
            <tr>
                <td>Mrs</td>
                <td>Hamilton</td>
                <td>2020/08/09</td>
            </tr>
            <tr>
                <td>Sr.</td>
                <td>Diaz</td>
                <td>2020/08/09</td>
            </tr>
        </table>
</f:section>

<f:section name="footer">
    <f:if condition="{button}">
        <div class="widget-content-footer">
            <a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
        </div>
    </f:if>
</f:section>

</html>
