<f:if condition="{page} && {page.doktype} === 1">

    <f:if condition="{page.backend_layout} != ''">
        Backend layout: <strong><f:translate key="LLL:EXT:osp/Resources/Private/Language/locallang.xlf:be_layout.{page.backend_layout}" /></strong> ({page.backend_layout})
    </f:if>

    <f:comment>
    <div class="row">
        <f:for each="{files}" as="file">
            <div class="col-sm-2">
                <f:image image="{file}" maxHeight="80" class="img-thumbnail img-responsive" />
            </div>
        </f:for>
    </div>
    </f:comment>

</f:if>
