{namespace fallback=SIMONKOEHLER\Fallback\ViewHelpers}

<header class="bg-light px-2 text-align-center border-left border-right" style="background-image:url({f:cObject(typoscriptObjectPath:'lib.profileHeader')});background-size:cover;">

    <div class="row">
        <div class="col-6 col-sm-3 py-5 text-center">
            <f:link.page pageUid="{settings.pages.wall}">

                <f:if condition="{fe_user.0.images.0}">
                    <f:then>
                        <f:image image="{fe_user.0.images.0}" width="180c" height="180c" class="img-circle img-fluid img-thumbnail" style="border-radius:50%;" alt="Simon Köhler"/>
                    </f:then>
                    <f:else>
                        <f:image src="{fallback:image(url:'{settings.user.profilePicture}')}" width="180c" height="180c" class="img-circle img-fluid img-thumbnail" style="border-radius:50%;" alt="Simon Köhler"/>
                    </f:else>
                </f:if>

            </f:link.page>
        </div>
        <div class="col-6 col-sm-9 d-flex align-items-center">
            <h1 class="m-0 p-0 text-white text-shadow"><span class="font-weight-bold">{data.title}</span> {f:if(condition:'{data.subtitle}', then:'<small>({data.subtitle})</small>')}</h1>
        </div>
    </div>

</header>
