{namespace fallback=SIMONKOEHLER\Fallback\ViewHelpers}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient {navbar-mb}">
  <div class="container-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon"></i>
    </button>
    <f:link.page pageUid="{site.rootPageId}" class="navbar-brand m-auto">
        <f:if condition="{settings.site.navbarLogo}">
            <f:image src="{settings.site.navbarLogo}" maxHeight="32"/>
        </f:if>
    </f:link.page>
    <ul class="navbar-nav d-lg-none">
        <li class="nav-item">
            <f:link.page pageUid="{settings.pages.account.login}" class="nav-link"><i class="fa fa-sign-in"></i> {f:translate(key:'fe.navbar.login',extensionName:'Osp')}</f:link.page>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <f:security.ifAuthenticated>
        <form class="d-flex m-auto my-3">
            <input class="form-control form-control-sm mr-2" type="search" placeholder="{f:translate(key:'fe.navbar.search',extensionName:'Osp')}" aria-label="Search">
            <button class="btn btn-dark btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </form>
        </f:security.ifAuthenticated>
        <ul class="navbar-nav ml-auto">
            <f:security.ifAuthenticated>
                <f:then>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{f:if(condition:'{fe_user.0.data.name}', then:'{fe_user.0.data.name} / ')}{f:if(condition:'{user}', then:'{user}', else:'Account')}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><f:link.page pageUid="{settings.pages.account.login}" class="dropdown-item" additionalParams="{logintype:'logout'}"><i class="fa fa-support"></i> Logout</f:link.page></li>
                    </ul>
                </li>
                </f:then>
                <f:else>

                </f:else>
            </f:security.ifAuthenticated>
        </ul>
    </div>
  </div>
</nav>
