{namespace fallback=SIMONKOEHLER\Fallback\ViewHelpers}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark {navbar-mb}">
  <div class="container-md">
    <f:link.page pageUid="{site.rootPageId}" class="navbar-brand mr-auto">
        <f:if condition="{settings.site.navbarLogo}">
            <f:image src="{settings.site.navbarLogo}" maxHeight="32"/>
        </f:if>
    </f:link.page>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggle" aria-controls="navtoggle" aria-expanded="false" aria-label="Toggle navigation">
        <i class="navbar-toggler-icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navtoggle">
        <f:render partial="NavbarNav" arguments="{menuRoot:menuRoot}"/>
        <f:security.ifAuthenticated>
        <form class="d-flex m-auto my-3">
            <input class="form-control form-control-sm mr-2" type="search" placeholder="{f:translate(key:'fe.navbar.search',extensionName:'Osp')}" aria-label="Search">
            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </form>
        </f:security.ifAuthenticated>
    </div>
  </div>
</nav>
