{namespace fallback=SIMONKOEHLER\Fallback\ViewHelpers}
<f:security.ifAuthenticated>
<div class="card bg-light mb-4">
    <f:link.page pageUid="{settings.pages.wall}" class="link-dark font-weight-bold text-decoration-none">
    <div class="card-body">
        <div class="row g-0">
            <div class="col-3 col-sm-4 col-lg-3 pr-sm-2">
                <f:if condition="{fe_user.0.images.0}">
                    <f:then>
                        <f:image image="{fe_user.0.images.0}" width="60c" height="60c" class="img-circle img-fluid img-thumbnail" style="border-radius:50%;" alt="{fe_user.0.username}"/>
                    </f:then>
                    <f:else>
                        <f:image src="{fallback:image(url:'{settings.user.profilePicture}')}" width="180c" height="180c" class="img-circle img-fluid img-thumbnail" style="border-radius:50%;" alt="OSP"/>
                    </f:else>
                </f:if>
            </div>
            <div class="col d-flex align-items-center">
                {f:if(condition:'{fe_user.0.data.name}', then:'{fe_user.0.data.name}')}
            </div>
        </div>
    </div>
    </f:link.page>
</div>
</f:security.ifAuthenticated>
