<div class="card bg-white mb-4">
    <div class="card-header"><h6 class="m-0"><i class="fa fa-group"></i> Friends</h6></div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4 mb-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
            <div class="col-4 col-sm-6 col-lg-4">
                <img src="https://placehold.it/160x160" class="img-fluid" alt="friend">
            </div>
        </div>
    </div>
</div>
