<div class="card bg-white mb-4">
    <div class="card-header"><h6 class="m-0"><i class="fa fa-file"></i> Pages</h6></div>
    <div class="card-body">
        <ul class="nav flex-column">
            <f:for each="{menu}" as="menu">

                <f:if condition="{menu.children}">
                    <f:then>
                        <li class="nav-item">
                           <a class="nav-link {f:if(condition:'{menu.active} === 1', then:'active')}"
                              href="{menu.link}"
                              target="{menu.target}"
                              title="{menu.title}"
                              >
                              {menu.title}
                           </a>
                           <ul class="nav flex-column">
                               <f:for each="{menu.children}" as="menu">
                                   <li class="nav-item pl-3">
                                      <a class="nav-link py-2 {f:if(condition:'{menu.active} === 1', then:'active')}"
                                         href="{menu.link}"
                                         target="{menu.target}"
                                         title="{menu.title}"
                                         >
                                         {menu.title}
                                      </a>
                                   </li>
                               </f:for>
                           </ul>
                        </li>
                    </f:then>
                    <f:else>
                    <li class="nav-item">
                       <a class="nav-link {f:if(condition:'{menu.active} === 1', then:'active')}"
                          href="{menu.link}"
                          target="{menu.target}"
                          title="{menu.title}"
                          >
                          {menu.title}
                       </a>
                    </li>
                    </f:else>
                </f:if>

             </f:for>
         </ul>
    </div>
</div>
