<div class="p-3">

    <div class="d-flex align-items-start flex-row mb-2">
        <img src="https://placehold.it/36x36" class="img-responsive mr-3" style="border-radius:50%;" alt="placeholder">
        <div style="font-size:0.85rem;" class="bg-white rounded p-3">This is only an example comment, it's not real yet ;-)</div>
    </div>

    <div class="d-flex align-items-start mb-2">
        <img src="https://placehold.it/36x36" class="img-responsive mr-3" style="border-radius:50%;" alt="placeholder">
        <div style="font-size:0.85rem;" class="bg-white rounded p-3">Ah, got it, thanks!</div>
    </div>

    <div class="d-flex align-items-start">
        <img src="https://placehold.it/36x36" class="img-responsive mr-3" style="border-radius:50%;" alt="placeholder">
        <div style="font-size:0.85rem;" class="bg-white rounded p-3">I have a lot of text for you guys: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
    </div>

</div>
