<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="bg-white border">
    <div class="row g-0">
        <div class="col-sm-6 text-center d-flex align-items-center justify-content-center p-4 bg-light">
            <div>
                <h3><f:translate key="forgot_header"/></h3>
                <p><f:translate key="forgot_reset_message"/></p>
            </div>
        </div>
        <div class="col-sm-6 p-4 text-center">
            <f:render partial="ValidationErrors"/>
            <f:form action="recovery" method="post">
                <fieldset>
                    <legend>
                        <f:render partial="RenderLabelOrMessage" arguments="{key: 'reset_password'}"/>
                    </legend>
                    <div class="py-2">
                        <label>
                            <f:translate key="enter_your_data"/>
                            <f:form.textfield name="userIdentifier" class="form-control mt-1"/>
                        </label>
                    </div>
                    <div class="py-2">
                        <f:form.submit value="{f:translate(key: 'reset_password')}" class="btn btn-primary"/>
                    </div>
                </fieldset>
            </f:form>
            <p>
                <f:link.action action="login" controller="Login">
                    <f:translate key="forgot_header_backToLogin"/>
                </f:link.action>
            </p>
        </div>
    </div>
</div>

</html>
