@charset "UTF-8";
/*
This file was created by Simon Köhler
at METRACLICK s.a.
metraclick.com
*/
body {
  font-size: 12px; }

.badge-status-200 {
  background-color: green;
  color: white; }

.badge-status-404 {
  background-color: red;
  color: white; }

.badge-status-301 {
  background-color: papayawhip;
  color: darkslategrey; }

.badge-status-307 {
  background-color: lightblue;
  color: darkslategrey; }

.google-preview {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #eee; }

.google-preview .title {
  color: #1a0dab;
  font-size: 18px; }
