<f:layout name="Page" />

<f:section name="MainTemplate">

<div class="container">

    <div class="row">

        <aside class="col-md-5 col-lg-3 order-1 order-md-0">
            <f:format.html parseFuncTSPath="">{left}</f:format.html>
        </aside>

        <main class="col-md-7 col-lg-6 mb-4 mb-md-0">
            <f:if condition="{menuRootline}">
                <nav aria-label="breadcrumb">
                	<ol class="breadcrumb">
                		<f:for each="{menuRootline}" as="item">
                        <li class="breadcrumb-item">
                        <f:if condition="{item.data.target}">
                        <f:then>
                            <a href="{item.link}" target="{item.data.target}" title="{item.data.title}">
                        </f:then>
                        <f:else if="{item.target}">
                            <a href="{item.link}" target="{item.target}" title="{item.data.title}">
                        </f:else>
                        <f:else>
                            <a href="{item.link}" title="{item.data.title}">
                        </f:else>
                        </f:if>
                        <span>{item.title}</span>
                        </a>
                        </li>
                		</f:for>
                	</ol>
                </nav>
            </f:if>
            <f:if condition="{content}">
        		<f:then>
                <f:spaceless>
                    <f:format.html parseFuncTSPath="">{content}</f:format.html>
                </f:spaceless>
        		</f:then>
        		<f:else>
        			<div class="card p-4 m-0"><div class="alert alert-info">No content found</div></div>
        		</f:else>
        	</f:if>
        </main>

        <aside class="col col-lg-3">
            <f:format.html parseFuncTSPath="">{right}</f:format.html>
            <f:security.ifAuthenticated>
                <f:then>

                </f:then>
                <f:else>
                    <f:render partial="WidgetLogin" arguments="{settings:settings}"/>
                </f:else>
            </f:security.ifAuthenticated>
        </aside>

    </div>
</div>

</f:section>
