<f:layout name="Wall" />

<f:section name="MainTemplate">

<div class="container">

    <div class="row{spacer}">

        <aside class="col-md-5 col-lg-3 order-1 order-md-0">
            <div class=" sticky-top">
            <f:render partial="WidgetMenu" arguments="{menu:menuSub}"/>
            <f:render partial="WidgetFriends"/>
            <f:format.html parseFuncTSPath="">{left}</f:format.html>
            </div>
        </aside>

        <main class="col-md-7 col-lg-9 mb-4 mb-md-0">
            <f:spaceless>
                <f:format.html parseFuncTSPath="">{content}</f:format.html>
            </f:spaceless>
        </main>

    </div>
</div>

</f:section>
