<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{menu}">
        <div class="border p-3 bg-white rounded">

            <ul class="nav flex-column">
                <f:for each="{menu}" as="page">
                    <li class="nav-item{f:if(condition:page.active, then:' border rounded bg-light')}">
                        <a class="nav-link link-dark{f:if(condition:page.active, then:' font-weight-bold')}" href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
                            <span>{f:if(condition:page.children, then:'<i class="fa fa-file"></i>',else:'<i class="fa fa-file-o"></i>')} {page.title}</span>
                        </a>
                        <f:if condition="{page.children}">
                            <f:render section="Submenu" arguments="{menu:page.children}"/>
                        </f:if>
                    </li>
                </f:for>
            </ul>

        </div>
    </f:if>

    <f:section name="Submenu">
        <ul class="nav flex-column pl-3 pb-2">
            <f:for each="{menu}" as="page">
            <li class="p-0{f:if(condition:page.active, then:' font-weight-bold')}">
                <a href="{page.link}" class="nav-link" title="{page.title}"><small>{page.title}</small></a>
            </li>
            </f:for>
        </ul>
    </f:section>

</html>
